{% extends 'frontend.html.twig' %}

{% block pagerecientes 'active' %}
{% block title %}
    Ofertas recientes en {{ ciudad.nombre }}
{% endblock %}

{% block rss %}
    <link rel="alternate" type="application/rss+xml"
          title="RSS de las ofertas más recientes en {{ ciudad.nombre }}"
          href="{{ path('ciudad_recientes', { ciudad: ciudad.slug, _format: 'rss' }) }}" />
{% endblock %}

{% block maincontent %}
    <div class="col-md-9 ofertas-recientes">

        <div class="row">
            <div class="col-md-12">
                <h2><strong>{{ "Ofertas recientes en %ciudad%"|trans({ '%ciudad%': ciudad.nombre }) }}</strong></h2>
            </div>
        </div>

        {% for oferta in ofertas_ciudad %}
            {{ include(':oferta:_oferta_simple.html.twig') }}
        {% else %}
            <p>Esta ciudad todavía no ha publicado ninguna oferta</p>
        {% endfor %}
    </div>
{% endblock %}

{% block sidebarcontent %}
    {% include ':sidebar:_sidebar_ofertas_ciudades.html.twig' %}
    {% include ':sidebar:_sidebar_search.html.twig' %}
    {% include ':sidebar:_sidebar_sobre_nosotros.html.twig' %}
{% endblock %}