{% extends 'extranet.html.twig' %}

{% block extranetdashboard 'active' %}
{% block title %}
    Administración de {{ app.user.nombre }}
{% endblock %}

{% block maincontent %}
    <div class="col-lg-12">
        <h1 class="page-header">Panel de Administración</h1>
    </div>

    <div class="col-md-12 info-dashboard-tienda">

        <div class="row">
            <div class="col-md-12">
                <h2>{{ app.user.nombre }}</h2>

                <p>{{ app.user.descripcion }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {% if ofertas_tienda is not empty %}
                    <h3>Todas tus ofertas</h3>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Revisada</th>
                            <th>Estado</th>
                            <th>Empieza</th>
                            <th>Finaliza</th>
                            <th>Nombre</th>
                            <th>Ventas</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for oferta in ofertas_tienda %}

                            {% set ofertaPublicada = oferta.fechaPublicacion|date('YmdHis') < 'now'|date('YmdHis') %}
                            {% set ofertaCaducada = oferta.fechaExpiracion|date('YmdHis') < 'now'|date('YmdHis') %}
                            <tr>
                                <td>
                                    {% if oferta.revisada %}
                                        <i class="fa fa-eye"></i>
                                    {% else %}
                                        <i class="fa fa-eye-slash"></i>
                                    {% endif %}
                                </td>

                                <td>
                                    {% if ofertaPublicada and not ofertaCaducada and oferta.revisada %}
                                        Publicada
                                    {% elseif ofertaCaducada %}
                                        Caducada
                                    {% elseif not oferta.revisada  %}
                                        No revisada
                                    {% else %}
                                        Sin publicar
                                    {% endif %}
                                </td>

                                <td>{{ oferta.fechaPublicacion|localizeddate('medium', 'short') }}</td>
                                <td>{{ oferta.fechaExpiracion|localizeddate('medium', 'short') }}</td>

                                <td>{{ oferta.nombre }}</td>
                                <td>{{ oferta.compras }}</td>
                                <td>
                                    {% if oferta.compras > 0 %}
                                        <a class="btn btn-default btn-xs" href="{{ path('extranet_oferta_ventas', { id: oferta.id }) }}">
                                            <i class="fa fa-shopping-cart"></i> Ventas
                                        </a>
                                    {% endif %}

                                    {% if not oferta.revisada or not ofertaPublicada or ofertaCaducada %}
                                        <a class="btn btn-default btn-xs" href="{{ path('extranet_oferta_editar', { id: oferta.id }) }}">
                                            <i class="fa fa-edit"></i> Modificar
                                        </a>
                                        <a class="btn btn-danger btn-xs" href="{{ path('extranet_oferta_borrar', { id: oferta.id }) }}"
                                           onclick="return confirm('Estas a punto de eliminar la oferta: {{ oferta.nombre }}. Desea continuar?')">
                                            <i class="fa fa-trash-o"></i> Eliminar
                                        </a>
                                    {% endif %}

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <p><small>Solo se podrán editar o eliminar las ofertas que no hayan sido revisadas o que no estén publicadas o que hayan caducado.</small></p>
                    <p><small>Las ofertas que no estén revisadas por un administrador no se harán publicas aún habiendo sobrepasado la fecha de publicación.</small></p>
                    <p><i class="fa fa-eye-slash"></i> <small> Oferta sin revisar</small></p>
                    <p><i class="fa fa-eye"></i> <small> Oferta revisada</small></p>

                {% else %}
                    <p>No tienes ninguna oferta creada</p>
                {% endif %}
            </div>
        </div>

        </hr>
    </div>
{% endblock %}