{% extends 'extranet.html.twig' %}
{# se incluye la plantilla que renderiza los errores de formulario con un aspecto personalizado #}
{% form_theme formulario 'form/form_errors.html.twig' %}

{% block crearoferta 'active' %}
{% block title %}
    {{ accion == 'crear' ? 'Añadir una nueva Oferta' : 'Modificar la Oferta - ' ~ oferta.nombre
}}{% endblock %}

{% block maincontent %}

    <div class="col-md-12 info-dashboard-tienda">

        <div class="row">
            <div class="col-md-12">
                <h2>{{ block('title') }}</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                {{ form_start(formulario, {'attr': {'class': 'form-horizontal'}}) }}
                {{ form_errors(formulario) }}

                <fieldset>
                    <legend>Datos generales de la oferta</legend>

                    <div class="form-group">
                        {{ form_label(formulario.nombre) }}
                        <div class="col-sm-10">
                            {{ form_widget(formulario.nombre) }}
                            <p class="text-danger">{{ form_errors(formulario.nombre) }}</p>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(formulario.descripcion) }}
                        <div class="col-sm-10">
                            {{ form_widget(formulario.descripcion) }}
                            <span id="helpBlock" class="help-block">
                                Escribe cada característica en una línea.
                            </span>
                            <p class="text-danger">{{ form_errors(formulario.descripcion) }}</p>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(formulario.condiciones) }}
                        <div class="col-sm-10">
                            {{ form_widget(formulario.condiciones) }}
                            <span id="helpBlock" class="help-block">
                                Ejemplos: máximo 1 consumición por persona;
                                No acumulable a otras ofertas; Debe consumirse en el propio local; etc.
                            </span>
                            <p class="text-danger">{{ form_errors(formulario.condiciones) }}</p>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(formulario.fotoTemp) }}
                        <div class="col-sm-10">
                            {% if accion == 'editar' %}
                                <img src="{{ asset(oferta.ofertaFoto, 'ofertas') }}" />
                                <p class="ayuda">(No se muestra a tamaño real)</p>

                                {{ form_label(formulario.fotoTemp, 'Modificar foto') }}
                            {% endif %}
                            {{ form_widget(formulario.fotoTemp) }}
                            <span id="helpBlock" class="help-block">
                                Tamaño máximo: 500 KB. Formato preferido: JPEG.
                            </span>
                            <p class="text-danger">{{ form_errors(formulario.fotoTemp) }}</p>
                        </div>
                    </div>

                </fieldset>

                <fieldset>
                    <legend>Datos del precio de la oferta</legend>

                    <div class="form-group">
                        {{ form_label(formulario.precio) }}
                        <div class="col-sm-10">
                            {{ form_widget(formulario.precio) }}
                            <span id="helpBlock" class="help-block">
                                Precio final de venta a los usuarios (en euros).
                            </span>
                            <p class="text-danger">{{ form_errors(formulario.precio) }}</p>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(formulario.descuento) }}
                        <div class="col-sm-10">
                            {{ form_widget(formulario.descuento) }}
                            <span id="helpBlock" class="help-block">
                                Descuento aplicado sobre el precio original (en euros).
                                Si el precio original era 10 euros y el precio de venta en Cupon
                                es de 8 euros, el descuento son 2 euros.
                            </span>
                            <p class="text-danger">{{ form_errors(formulario.descuento) }}</p>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(formulario.umbral) }}
                        <div class="col-sm-10">
                            {{ form_widget(formulario.umbral) }}
                            <span id="helpBlock" class="help-block">
                                Mínimo número de compras para que la oferta se
                                active para todos los usuarios.
                            </span>
                            <p class="text-danger">{{ form_errors(formulario.umbral) }}</p>
                        </div>
                    </div>

                </fieldset>

                <fieldset>
                    <legend>Datos de la duración de la oferta</legend>

                    <div class="form-group">
                        {{ form_label(formulario.fechaPublicacion) }}
                        <div class="col-sm-10">
                            {{ form_widget(formulario.fechaPublicacion) }}
                            <span id="helpBlock" class="help-block">
                                Fecha que desea publicar la oferta.
                                Tenga en cuenta que antes de ser publicada se revisará la oferta.
                            </span>
                            <p class="text-danger">{{ form_errors(formulario.fechaPublicacion) }}</p>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(formulario.fechaExpiracion) }}
                        <div class="col-sm-10">
                            {{ form_widget(formulario.fechaExpiracion) }}
                            <span id="helpBlock" class="help-block">
                                Fecha de expiración de la oferta
                            </span>
                            <p class="text-danger">{{ form_errors(formulario.fechaExpiracion) }}</p>
                        </div>
                    </div>

                </fieldset>

                {% if accion == 'crear' %}
                    <fieldset>
                        <legend>Condiciones de publicación</legend>
                        <div class="form-group">
                            {{ form_label(formulario.condicionesPublicacion) }}
                            <div class="col-sm-10">
                                {{ form_widget(formulario.condicionesPublicacion) }}
                                <span id="helpBlock" class="help-block">
                                Declaro que toda la información de esta oferta es correcta,
                                que soy consciente de la obligación de cumplir las condiciones
                                prometidas y que dispongo de los medios necesarios para hacerlo.
                            </span>
                                <p class="text-danger">{{ form_errors(formulario.condicionesPublicacion) }}</p>
                            </div>
                        </div>
                    </fieldset>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            {{ form_widget(formulario.crear) }}
                        </div>
                    </div>
                {% endif %}


                {{ form_end(formulario) }}

            </div>
        </div>

        </hr>
    </div>
{% endblock %}