{% set ciudadSeleccionada = app.request.attributes.has('ciudad')
        ? app.request.attributes.get('ciudad')
        : ciudad_por_defecto %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} | Cupon</title>
</head>
<body id="{% block id '' %}">
<div id="contenedor">
    <header>
        <h1> <a href="{{ path('portada', { 'ciudad': ciudadSeleccionada }) }}">CUPON</a> </h1>
        <nav>
            <ul>
                <li><a href="{{ path('portada') }}">Oferta del día</a></li>
                <li><a href="#">Ofertas recientes</a></li>
                <li><a href="#">Mis Ofertas</a></li>
            </ul>
        </nav>
    </header>

    <article>
        {% block article %}{% endblock %}
    </article>

    <aside>
        {% block aside %}{% endblock %}
    </aside>

    <footer>
        &copy; {{ 'now' | date('Y') }} - Cupon
        <a href="{{ path('pagina_estatica', { 'pagina': 'ayuda'}) }}">Ayuda</a>
        <a href="{{ path('pagina_estatica', { 'pagina': 'privacidad'}) }}">Privacidad</a>
        <a href="{{ path('pagina_estatica', { 'pagina': 'sobre-nosotros'}) }}">Sobre nosotros</a>
    </footer>

</div>
</body>
</html>