{% extends 'base.html.twig' %}
{% set ciudadSeleccionada = app.request.attributes.get('ciudad', ciudad_por_defecto) %}

{% block body %}
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('portada', { 'ciudad': ciudadSeleccionada }) }}">CUPON</a>
                <div class="selectcity">
                    {{ render(controller('AppBundle:Ciudad:listaCiudades', {
                        'ciudad': ciudadSeleccionada
                    })) }}
                </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="{% block pageportada '' %}">
                        <a href="{{ path('portada', { 'ciudad': ciudadSeleccionada }) }}">{{ 'Oferta del día'|trans }}</a>
                    </li>
                    <li class="{% block pagerecientes '' %}">
                        <a href="{{ path('ciudad_recientes', { ciudad: ciudadSeleccionada }) }}">{{ 'Ofertas recientes'|trans }}</a>
                    </li>

                    {% if is_granted('ROLE_USUARIO') %} {# el usuario está logueado #}

                        <li class="{% block pagemisofertas '' %}">
                            <a href="{{ path('usuario_compras') }}">{{ 'Mis ofertas'|trans }}</a>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.nombre }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path('usuario_perfil') }}">{{ 'Ver mi perfil'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('usuario_logout') }}">{{ 'Cerrar sesión'|trans }}</a>
                                </li>
                            </ul>
                        </li>

                    {% else %}
                        <li class="{% block pagelogin '' %}">
                            <a href="{{ path('usuario_login') }}">{{ 'Iniciar sesión'|trans }}</a>
                        </li>
                        <li class="{% block pageregister '' %}">
                            <a href="{{ path('usuario_registro') }}">{{ 'Regístrate'|trans }}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    {% if is_granted('ROLE_USUARIO') == false %}
        {% block bannercupon %}{% endblock %}
    {% endif %}

    {% for tipo, mensajes in app.session.flashbag.all() %}
        {% for mensaje in mensajes %}
            <div class="alert {{ tipo }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ mensaje }}
            </div>
        {% endfor %}
    {% endfor %}

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <!-- Main Content -->
            {% block maincontent %}{% endblock %}

            <!-- Sidebar -->
            <div class="col-md-3">
                {% block sidebarcontent %}{% endblock %}
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>&copy; 2015 - Cupon</p>
                    <ul class="list-inline">
                        <li><a href="{{ path('ayuda') }}">{{ 'Ayuda'|trans }}</a></li>
                        <li><a href="{{ path('contacto') }}">{{ 'Contacto'|trans }}</a></li>
                        <li><a href="{{ path('privacidad') }}">{{ 'Privacidad'|trans }}</a></li>
                        <li><a href="{{ path('sobre-nosotros') }}">{{ 'Sobre nosotros'|trans }}</a></li>
                    </ul>

                    {% set locale = app.request.locale %}
                    <section id="idioma">
                        {% if locale == 'es' %}
                            <span>Español</span> - <a href="{{ path('portada', { _locale: 'en' }) }}">English</a>
                        {% elseif locale == 'en' %}
                            <a href="{{ path('portada', { _locale: 'es' }) }}">Español</a> - <span>English</span>
                        {% endif %}
                    </section>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
{% endblock %}