{% set expirada = oferta.fechaExpiracion|date('YmdHis') < 'now'|date('YmdHis') %}
{% set comprada = comprada|default(false) %}

<div class="row">
    <div class="col-md-8 descripcion">
        <h2>
            <a href="{{ path('oferta', {'ciudad': oferta.ciudad.slug, 'slug': oferta.slug }) }}">{{ oferta.nombre }}</a>
        </h2>

        <p>
            {{ oferta.descripcion | mostrar_como_lista }}
        </p>

        <p>
            {{ 'Disfruta de la oferta en'|trans }}
            <strong><a href="{{ path('tienda_portada', { ciudad: oferta.ciudad.slug, tienda: oferta.tienda.slug }) }}">{{ oferta.tienda.nombre }}</a></strong>
        </p>
    </div>

    <div class="col-md-4">
        <div class="img-oferta">
            <a href="{{ path('oferta', {'ciudad': oferta.ciudad.slug, 'slug': oferta.slug }) }}">
                <img class="img-responsive img-hover" src="{{ asset(oferta.rutaFoto, 'ofertas') }}"
                     alt="Fotografía de la oferta">
            </a>

            <p class="precio">{{ oferta.precio }} € <span>{{ descuento(oferta.precio, oferta.descuento) }}</span></p>
        </div>
        {% if not expirada and not comprada %}
            <div class="boton-compra"><a class="btn btn-primary btn-lg" href="#" role="button">{{ 'Comprar'|trans }}</a></div>
        {% endif %}
    </div>
</div>

<div class="well well-sm clearfix datos-oferta-reciente {{ expirada ? 'expirada' }} {{ comprada ? 'comprada' }}">
    {% if comprada %}
        <div class="pull-left">
            {% trans with { '%fecha%': fechaCompra|localizeddate('long', 'medium') } %}
            Comprada el %fecha%
            {% endtrans %}
        </div>
    {% elseif not expirada %}
        <div class="pull-left">
            {% trans with {'%tiempo%': oferta.fechaExpiracion | cuenta_atras } %}
            Expira en %tiempo%
            {% endtrans %}
        </div>
        <div class="pull-right">
            {% set faltan = oferta.umbral - oferta.compras %}
            {% if faltan > 0 %}
                {# Si las compras no llegan al umbral mínimo establecido #}
                {% transchoice faltan with { '%faltan%': faltan } %}
                {1} ¡<strong>Una sola compra más</strong> activa la oferta!|[1, 9] ¡<strong>Sólo faltan %faltan% compras</strong> para activar la oferta!|]9,Inf] Faltan <strong>%faltan% compras</strong> para activar la oferta
                {% endtranschoice %}
            {% else %}
                {# Si las compras superan el umbral mínimo establecido #}
                {% trans with { '%compras%': oferta.umbral } %}
                <strong>Oferta activada</strong> por superar las <strong>%compras%</strong> compras necesarias
                {% endtrans %}
            {% endif %}
        </div>
    {% else %}
        <div class="pull-left">
            {% trans with { '%fecha%': oferta.fechaExpiracion | localizeddate('long', 'none') } %}
            Finalizada el %fecha%
            {% endtrans %}
        </div>
    {% endif %}
</div>

<hr>