{% set expirada = oferta.fechaExpiracion|date('YmdHis') < 'now'|date('YmdHis') %}
{% set comprada = comprada|default(false) %}

<div class="row">
    <div class="col-md-8 descripcion">
        <h2>
            <a href="{{ path('oferta', {'ciudad': oferta.ciudad.slug, 'slug': oferta.slug }) }}">{{ oferta.nombre }}</a>
        </h2>

        <p>
            {{ oferta.descripcion | mostrar_como_lista }}
        </p>

        <p>
            Disfruta de la oferta en
            <strong><a href="{{ path('tienda_portada', { ciudad: oferta.ciudad.slug, tienda: oferta.tienda.slug }) }}">{{ oferta.tienda.nombre }}</a></strong>
        </p>
    </div>

    <div class="col-md-4">
        <div class="img-oferta">
            <a href="{{ path('oferta', {'ciudad': oferta.ciudad.slug, 'slug': oferta.slug }) }}">
                <img class="img-responsive img-hover" src="{{ asset(oferta.rutaFoto, 'ofertas') }}"
                     alt="Fotografía de la oferta">
            </a>

            <p class="precio">{{ oferta.precio }} € <span>{{ descuento(oferta.precio, oferta.descuento) }}</span></p>
        </div>
        {% if not expirada and not comprada %}
            <div class="boton-compra"><a class="btn btn-primary btn-lg" href="#" role="button">Comprar</a></div>
        {% endif %}
    </div>
</div>

<div class="well well-sm clearfix datos-oferta-reciente {{ expirada ? 'expirada' }} {{ comprada ? 'comprada' }}">
    {% if comprada %}
        {% trans with { '%fecha%': fechaCompra|localizeddate('long', 'medium') } %}
        <div class="pull-left">Comprada el %fecha%</div>
        {% endtrans %}
    {% elseif not expirada %}
        {% trans with {'%tiempo%': oferta.fechaExpiracion | cuenta_atras } %}
        <div class="pull-left">Expira en %tiempo%</div>
        {% endtrans %}
        <div class="pull-right">
            {% set faltan = oferta.umbral - oferta.compras %}
            {% if faltan > 0 %}
                {# Si las compras no llegan al umbral mínimo establecido #}
                Faltan {{ faltan }} compras para activar la oferta
            {% else %}
                {# Si las compras superan el umbral mínimo establecido #}
                Oferta activada por superar las {{ oferta.umbral }} compras necesarias
            {% endif %}
        </div>
    {% else %}
        {% trans with { '%fecha%': oferta.fechaExpiracion | localizeddate('long', 'none') } %}
        <div class="pull-left">Finalizada el %fecha%</div>
        {% endtrans %}
    {% endif %}
</div>

<hr>